<div>
 <div ng-controller="myController">

    <div class="container well" style="width: 300px; margin: 20px auto;">
      
      <button data-ng-click="roleList = roleList1" class="btn btn-success">
      	<span class="glyphicon glyphicon-leaf">TREE MODEL 1</span>
      </button>

      <button data-ng-click="roleList = roleList2" class="btn btn-success">
      	<span class="glyphicon glyphicon-leaf">TREE MODEL 2</span>
      </button>

    
    </div>

    <div class="container well" style="width: 300px; margin: 20px auto;">
	    <div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
	      <span><b>Selected Node</b> : {{currentNode.roleName}}</span>
	    </div>

	    <!--
	      [TREE attribute]
	      angular-treeview: the treeview directive
	      tree-model : the tree model on $scope.
	      node-id : each node's id
	      node-label : each node's label
	      node-children: each node's children
	    -->
	    <div
	      data-angular-treeview="true"
	      data-tree-model="roleList"
	      data-node-id="roleId"
	      data-node-label="roleName"
	      data-node-children="children" >
	    </div>
    </div>
  </div>
</div>

<div class="container well" style="width: 300px; margin: 20px auto;">

<!-- Button Tags first -->

<div class="btn-group" style="margin: 9px 0;">
  <button class="btn"><span class="glyphicon glyphicon-align-left">Left</span></button>
  <button class="btn"><span class="glyphicon glyphicon-align-center">Center</span></button>
  <button class="btn"><span class="glyphicon glyphicon-align-right">Right</span></button>
  <button class="btn"><span class="glyphicon glyphicon-align-justify">Justify</span></button>
</div>

<div class="btn-group" style="margin: 9px 0;">
  <button class="btn btn-primary"><span class="glyphicon glyphicon-align-left">Left</span></button>
  <button class="btn btn-primary"><span class="glyphicon glyphicon-align-middle">Middle</span></button>
  <button class="btn btn-primary"><span class="glyphicon glyphicon-align-right">Right</span></button>
</div>

<div class="btn-group" style="margin: 9px 0;">
  <button class="btn btn-info">Left</button>
  <button class="btn btn-info">Middle</button>
  <button class="btn btn-info">Right</button>
</div>

<div class="btn-group" style="margin: 9px 0;">
  <button class="btn btn-success">Left</button>
  <button class="btn btn-success">Middle</button>
  <button class="btn btn-success">Right</button>
</div>

<!-- Lets use some Anchor Tags Now -->

<div class="btn-group" style="margin: 9px 0;">
  <a href="javascript:void(0);" class="btn btn-warning"><span class="glyphicon glyphicon-home">Left</a>
  <a href="javascript:void(0);" class="btn btn-warning"><span class="glyphicon glyphicon-home">Middle</a>
  <a href="javascript:void(0);" class="btn btn-warning"><span class="glyphicon glyphicon-home">Right</a>
</div>

<div class="btn-group" style="margin: 9px 0;">
  <a href="javascript:void(0);" class="btn btn-danger">Left</a>
  <a href="javascript:void(0);" class="btn btn-danger">Middle</a>
  <a href="javascript:void(0);" class="btn btn-danger">Right</a>
</div>

<div class="btn-group" style="margin: 9px 0;">
  <a href="javascript:void(0);" class="btn btn-inverse">Left</a>
  <a href="javascript:void(0);" class="btn btn-inverse">Middle</a>
  <a href="javascript:void(0);" class="btn btn-inverse">Right</a>
</div>

<!-- Button Toolbar with Groups -->

<div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn">1</button>
          <button class="btn">2</button>
          <button class="btn">3</button>
          <button class="btn">4</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-success">5</button>
          <button class="btn btn-success">6</button>
          <button class="btn btn-success">7</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-warning">8</button>
        </div>
</div>
	
</div>
<h1>Snippets#index</h1>
<p>Find me in app/views/snippets/index.html.erb</p>
<div>
<% @snippet.each do |snippet| %>
	<h2><%= snippet.title %></h2>
	<%= snippet.snippet %>
<% end %>

<ul>
<% @snippet.each do |snippet| %>
<li><%= snippet.title %></li>
<% end %>
</ul>


</div>

</br>

<table class="table table-bordered table-condensed">
<tr>
<th>title</th>
</tr>

<% @snippet.each do |snippet| %>
<tr>
<td><%= snippet.title %></td>
<td><button class="btn btn-success"><span class="glyphicon glyphicon-edit">Edit</button>
</tr>
<% end %>
</table>
<button class="btn btn-success btn-small"><span class="glyphicon glyphicon-add">Save</button>
<button class="btn btn-warning btn-small"><span class="glyphicon glyphicon-minus">Cancel</button>

<div ng-controller="ExampleController">
  <div ng-repeat="innerList in list" ng-init="outerIndex = $index">
    <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
       <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
    </div>
  </div>

  <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>
  <div id="grid2" ui-grid="{ data: showMetrics }" class="grid"></div>

 <div ng-controller="MainCtrl">
      <button id="footerButton" class="btn btn-success" ng-click="toggleFooter()"><span class="glyphicon glyphicon-edit">Toggle Grid Footer</button>
      <button class="btn btn-success" ng-click="toggleColumnFooter()"><span class="glyphicon glyphicon-home">Toggle Column Footer</button>
      <div id="grid3" ui-grid="gridOptions" class="grid"></div>
    </div>
</div>


<div class="container" ng-app="app" ng-controller="Controller">

    <h3>Angular Modal Service</h3>
     <a class="btn btn-default" href ng-click="show()">Show a Modal</a>
     <p>{{message}}</p>
     
     <!-- The actual modal template, just a bit o bootstrap -->
     <script type="text/ng-template" id="modal.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Yes or No?</h4>
              </div>
              <div class="modal-body">
                <p>It''s your call...</p>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-home">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-home">Yes</button>
              </div>
            </div>
          </div>
        </div>
     </script>
    
</div>

 <div class="container well" style="width: 300px; margin: 20px auto;">
<div class="the-icons">
    <span class="glyphicon glyphicon-glass"></span>
    <span class="glyphicon glyphicon-music"></span>
    <span class="glyphicon glyphicon-search"></span>
    <span class="glyphicon glyphicon-envelope"></span>
    <span class="glyphicon glyphicon-heart"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-film"></span>
    <span class="glyphicon glyphicon-th-large"></span>
    <span class="glyphicon glyphicon-th"></span>
    <span class="glyphicon glyphicon-th-list"></span>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-remove"></span>
    <span class="glyphicon glyphicon-zoom-in"></span>
    <span class="glyphicon glyphicon-zoom-out"></span>
    <span class="glyphicon glyphicon-off"></span>
    <span class="glyphicon glyphicon-signal"></span>
    <span class="glyphicon glyphicon-cog"></span>
    <span class="glyphicon glyphicon-trash"></span>
    <span class="glyphicon glyphicon-home"></span>
    <span class="glyphicon glyphicon-file"></span>
    <span class="glyphicon glyphicon-time"></span>
    <span class="glyphicon glyphicon-road"></span>
    <span class="glyphicon glyphicon-download-alt"></span>
    <span class="glyphicon glyphicon-download"></span>
    <span class="glyphicon glyphicon-upload"></span>
    <span class="glyphicon glyphicon-inbox"></span>
    
    <span class="glyphicon glyphicon-play-circle"></span>
    <span class="glyphicon glyphicon-repeat"></span>
    <span class="glyphicon glyphicon-refresh"></span>
    <span class="glyphicon glyphicon-list-alt"></span>
    <span class="glyphicon glyphicon-lock"></span>
    <span class="glyphicon glyphicon-flag"></span>
    <span class="glyphicon glyphicon-headphones"></span>
    <span class="glyphicon glyphicon-volume-off"></span>
    <span class="glyphicon glyphicon-volume-down"></span>
    <span class="glyphicon glyphicon-volume-up"></span>
    <span class="glyphicon glyphicon-qrcode"></span>
    <span class="glyphicon glyphicon-barcode"></span>
    <span class="glyphicon glyphicon-tag"></span>
    <span class="glyphicon glyphicon-tags"></span>
    <span class="glyphicon glyphicon-book"></span>
    <span class="glyphicon glyphicon-bookmark"></span>
    <span class="glyphicon glyphicon-print"></span>
    <span class="glyphicon glyphicon-camera"></span>
    <span class="glyphicon glyphicon-font"></span>
    <span class="glyphicon glyphicon-bold"></span>
    <span class="glyphicon glyphicon-italic"></span>
    <span class="glyphicon glyphicon-text-height"></span>
    <span class="glyphicon glyphicon-text-width"></span>
    <span class="glyphicon glyphicon-align-left"></span>
    <span class="glyphicon glyphicon-align-center"></span>
    <span class="glyphicon glyphicon-align-right"></span>
    <span class="glyphicon glyphicon-align-justify"></span>
    <span class="glyphicon glyphicon-list"></span>
    
    <span class="glyphicon glyphicon-indent-left"></span>
    <span class="glyphicon glyphicon-indent-right"></span>
    <span class="glyphicon glyphicon-facetime-video"></span>
    <span class="glyphicon glyphicon-picture"></span>
    <span class="glyphicon glyphicon-pencil"></span>
    <span class="glyphicon glyphicon-map-marker"></span>
    <span class="glyphicon glyphicon-adjust"></span>
    <span class="glyphicon glyphicon-tint"></span>
    <span class="glyphicon glyphicon-edit"></span>
    <span class="glyphicon glyphicon-share"></span>
    <span class="glyphicon glyphicon-check"></span>
    <span class="glyphicon glyphicon-move"></span>
    <span class="glyphicon glyphicon-step-backward"></span>
    <span class="glyphicon glyphicon-fast-backward"></span>
    <span class="glyphicon glyphicon-backward"></span>
    <span class="glyphicon glyphicon-play"></span>
    <span class="glyphicon glyphicon-pause"></span>
    <span class="glyphicon glyphicon-stop"></span>
    <span class="glyphicon glyphicon-forward"></span>
    <span class="glyphicon glyphicon-fast-forward"></span>
    <span class="glyphicon glyphicon-step-forward"></span>
    <span class="glyphicon glyphicon-eject"></span>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="glyphicon glyphicon-plus-sign"></span>
    <span class="glyphicon glyphicon-minus-sign"></span>
    <span class="glyphicon glyphicon-remove-sign"></span>
    <span class="glyphicon glyphicon-ok-sign"></span>
    
    <span class="glyphicon glyphicon-question-sign"></span>
    <span class="glyphicon glyphicon-info-sign"></span>
    <span class="glyphicon glyphicon-screenshot"></span>
    <span class="glyphicon glyphicon-remove-circle"></span>
    <span class="glyphicon glyphicon-ok-circle"></span>
    <span class="glyphicon glyphicon-ban-circle"></span>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-arrow-right"></span>
    <span class="glyphicon glyphicon-arrow-up"></span>
    <span class="glyphicon glyphicon-arrow-down"></span>
    <span class="glyphicon glyphicon-share-alt"></span>
    <span class="glyphicon glyphicon-resize-full"></span>
    <span class="glyphicon glyphicon-resize-small"></span>
    <span class="glyphicon glyphicon-plus"></span>
    <span class="glyphicon glyphicon-minus"></span>
    <span class="glyphicon glyphicon-asterisk"></span>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <span class="glyphicon glyphicon-gift"></span>
    <span class="glyphicon glyphicon-leaf"></span>
    <span class="glyphicon glyphicon-fire"></span>
    <span class="glyphicon glyphicon-eye-open"></span>
    <span class="glyphicon glyphicon-eye-close"></span>
    <span class="glyphicon glyphicon-warning-sign"></span>
    <span class="glyphicon glyphicon-plane"></span>
    <span class="glyphicon glyphicon-calendar"></span>
    <span class="glyphicon glyphicon-random"></span>
    <span class="glyphicon glyphicon-comment"></span>
    <span class="glyphicon glyphicon-magnet"></span>
    
    <span class="glyphicon glyphicon-chevron-up"></span>
    <span class="glyphicon glyphicon-chevron-down"></span>
    <span class="glyphicon glyphicon-retweet"></span>
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span class="glyphicon glyphicon-folder-close"></span>
    <span class="glyphicon glyphicon-folder-open"></span>
    <span class="glyphicon glyphicon-resize-vertical"></span>
    <span class="glyphicon glyphicon-resize-horizontal"></span>
    <span class="glyphicon glyphicon-hdd"></span>
    <span class="glyphicon glyphicon-bullhorn"></span>
    <span class="glyphicon glyphicon-bell"></span>
    <span class="glyphicon glyphicon-certificate"></span>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <span class="glyphicon glyphicon-thumbs-down"></span>
    <span class="glyphicon glyphicon-hand-right"></span>
    <span class="glyphicon glyphicon-hand-left"></span>
    <span class="glyphicon glyphicon-hand-up"></span>
    <span class="glyphicon glyphicon-hand-down"></span>
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <span class="glyphicon glyphicon-circle-arrow-up"></span>
    <span class="glyphicon glyphicon-circle-arrow-down"></span>
    <span class="glyphicon glyphicon-globe"></span>
    <span class="glyphicon glyphicon-wrench"></span>
    <span class="glyphicon glyphicon-tasks"></span>
    <span class="glyphicon glyphicon-filter"></span>
    <span class="glyphicon glyphicon-briefcase"></span>
    <span class="glyphicon glyphicon-fullscreen"></span>
    
    <span class="glyphicon glyphicon-dashboard"></span>
    <span class="glyphicon glyphicon-paperclip"></span>
    <span class="glyphicon glyphicon-heart-empty"></span>
    <span class="glyphicon glyphicon-link"></span>
    <span class="glyphicon glyphicon-phone"></span>
    <span class="glyphicon glyphicon-pushpin"></span>
    <span class="glyphicon glyphicon-euro"></span>
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-gbp"></span>
    <span class="glyphicon glyphicon-sort"></span>
    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
    <span class="glyphicon glyphicon-sort-by-order"></span>
    <span class="glyphicon glyphicon-sort-by-order-alt"></span>
    <span class="glyphicon glyphicon-sort-by-attributes"></span>
    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    <span class="glyphicon glyphicon-unchecked"></span>
    <span class="glyphicon glyphicon-expand"></span>
    <span class="glyphicon glyphicon-collapse"></span>
    <span class="glyphicon glyphicon-collapse-top"></span>
</div>
</div>