<h1>Snippets#index</h1>
<p>Find me in app/views/snippets/index.html.erb</p>
<% @snippet.each do |snippet| %>
	<h2><%= snippet.title %></h2>
	<%= snippet.snippet %>
<% end %>

<ul>
<% @snippet.each do |snippet| %>
<li><%= snippet.title %></li>
<% end %>
</ul>

</br>

<table class="table table-bordered table-condensed">
<tr>
<th>title</th>
</tr>

<% @snippet.each do |snippet| %>
<tr>
<td><%= snippet.title %></td>
<td><button class="btn btn-success">Edit</button>
</tr>
<% end %>
</table>
<button class="btn btn-success btn-small">Save</button>
<button class="btn btn-warning btn-small">Cancel</button>


